<embed src="audio/A Night Of Dizzy Spells.mp3" autostart="true" loop="true" hidden="true">
<section class="hero is-medium is-dark is-bold has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Road to Code
      </h1> <br>
      <h3 class="subtitle">
        <span>Pair up</span>
        <br>
        <span>Build cool shit</span>
        <br>
        <span>Become a better developer</span>
        <br>
      </h3>
      <br>
      <br>
      <%= link_to "#" do %>
        <p class="retro-link">
          <span class="is-active">Start game (Register)</span>
        <p>
      <% end %> <br>
      <%= link_to "#" do %>
        <p class="retro-link">
          <span class="">Continue (Log in)</span>
        <p>
      <% end %>
    </div>
  </div>
</section>
