@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Press+Start+2P');

//Setting font styles
$family-primary: 'Open Sans', sans-serif;
//$family-primary: "Press Start 2P", cursive;

p, h4, h5, a {
  //font-family: $family-secondary;
}

h1, h2, h3 {
  //font-family: $family-primary;
}

h1 {
  @extend .is-size-1;
}

h2 {
  @extend .is-size-2;
}

h3 {
  @extend .is-size-3;
}

h4 {
  @extend .is-size-4;
}

h5 {
  @extend .is-size-5;
}

.footer {
  color: $white;
  background-color: $echo-color !important;
}



