// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#intro-background {
  height: 100vh;
  background: -webkit-linear-gradient(top, $echo-color, $delta-color);
  color: $white;
}

.retro-link {
  font-family: $family-primary;
  line-height: 2em;
}

.retro-link:hover{
  color: $red !important;
}
.retro-link:hover:before {
  font-size: 1.5em;
  content: "\f061";
  font-family: FontAwesome;
  padding-right: 15px;
  -webkit-animation: slide-left 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide-left 0.5s forwards;
  animation-delay: 2s;
}
.retro-link:hover:after {
  font-size: 1.5em;
  content: "\f060";
  font-family: FontAwesome;
  padding-left: 15px;
}

.user-form {
  height: 90vh;
  padding-top: 50px;
}


@-webkit-keyframes slide-left {
    100% { left: 0; }
}

@keyframes slide-left {
    100% { left: 0; }
}
