// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#intro-background {
  height: 100vh;
  background: -webkit-linear-gradient(top, $echo-color, $delta-color);
  color: $white;
}

.retro-link {
  font-family: $family-primary;
  .is-active {
    -webkit-animation: blink 1s steps(5, start) infinite;
    -moz-animation:    blink 1s steps(5, start) infinite;
    -o-animation:      blink 1s steps(5, start) infinite;
    animation:         blink 1s steps(5, start) infinite;
  }
}

@-webkit-keyframes blink {
  to { visibility: hidden; }
}
@-moz-keyframes blink {
  to { visibility: hidden; }
}
@-o-keyframes blink {
  to { visibility: hidden; }
}
@keyframes blink {
  to { visibility: hidden; }
}
