// Include variables for standard settings. Eg: $green, $blue, $primary

// Find the original Bulma variables here https://github.com/jgthms/bulma/blob/master/sass/utilities/initial-variables.sass

// Brand colors
$alpha-color: #0FA3B1; // Cyan
$beta-color: #5DD39E; // Green
$charlie-color: #D05353; // Red
$delta-color: #C9B79C; // Tan
$echo-color: #4A4A48; // Mud grey

// Overwrite generic colors
/*$black: 	*/
//$black-bis:
//$black-ter:
//$grey-darker:
//$grey-dark:
//$grey:
//$grey-light:
//$grey-lighter:
//$white-ter:
//$white-bis:
//$white:
//$orange:
//$yellow:
//$green:
//$turquoise:
//$cyan:
//$blue:
//$purple:
/*$red:*/

//Set the main Bulma colors
$primary: $alpha-color;
$link: $alpha-color;
$info: $delta-color;
$success: $beta-color;
//$warning: $yellow
$danger: $charlie-color;
$dark: $echo-color;
$text: $echo-color;





